@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
/* ===================================================================
// 共通
// ===================================================================*/
em {
  font-style: normal;
}

.sp680 {
  display: none;
}

@media (max-width: 680px) {
  .pc680 {
    display: none;
  }
  .sp680 {
    display: block;
  }
}

.sp480 {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp480 {
    display: block;
  }
}

.b-story .inner {
  width: 680px;
}

@media screen and (max-width: 767px) {
  .b-story .inner {
    margin: 0 auto;
  }
}

@media screen and (max-width: 680px) {
  .b-story .inner {
    width: 100%;
  }
}

/* ===================================================================
// main
// ===================================================================*/
.b-story.main {
  background: #F8E0EB;
}

.b-story.main h3 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 4rem;
  padding: 10px 0;
  border-bottom: 1px solid #000;
  margin-bottom: 10px;
}

@media screen and (max-width: 480px) {
  .b-story.main h3 {
    line-height: 1.2;
  }
}

.b-story.main h3 em {
  color: #F46D82;
}

.b-story.main h3 + span {
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  text-align: center;
  display: block;
}

.b-story.main .waku {
  position: relative;
  border: 50px solid #fff;
  margin: 20px auto;
}

@media screen and (max-width: 680px) {
  .b-story.main .waku {
    border: 7.5vw solid #fff;
  }
}

.b-story.main .k-name {
  position: absolute;
  right: -30px;
  top: -30px;
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  font-size: 5rem;
  display: block;
}

@media screen and (max-width: 680px) {
  .b-story.main .k-name {
    font-size: 7.5vw;
    right: -4.5vw;
    top: -4.5vw;
  }
}

.b-story.main .k-name em {
  font-size: 2rem;
  vertical-align: baseline;
}

@media screen and (max-width: 680px) {
  .b-story.main .k-name em {
    font-size: 3vw;
  }
}

.b-story.main .e-name {
  position: absolute;
  font-size: 6rem;
  display: block;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  bottom: -30px;
  left: -30px;
  font-family: 'Great Vibes', cursive;
  opacity: .3;
}

@media screen and (max-width: 680px) {
  .b-story.main .e-name {
    font-size: 9vw;
    bottom: -4.5vw;
    left: -4.5vw;
  }
}

.prof {
  background: #fff;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 680px) {
  .prof {
    width: 95%;
  }
}

.prof h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 15px;
}

.prof p {
  color: #707070;
  padding: 15px 30px;
}

/* ===================================================================
// .chronology
// ===================================================================*/
.b-story.chronology {
  background: #f8e0eb;
  padding-top: 80px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology {
    padding-top: 50px;
  }
}

.b-story.chronology .inner {
  background: #E8E8E8;
}

.b-story.chronology h3 {
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  text-align: center;
  font-weight: lighter;
  color: #fff;
  background: #000;
  font-size: 3rem;
  padding: 10px 0;
}

@media screen and (max-width: 680px) {
  .b-story.chronology h3 {
    font-size: 5.5vw;
  }
}

.b-story.chronology h3 + span {
  background: #F46D82;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  font-size: 2rem;
  margin: 50px 0 0 40px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology h3 + span {
    margin: 50px 0 0 7vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology h3 + span {
    margin: 30px 0 0 5vw;
    padding: 2px 10px;
  }
}

.b-story.chronology ul {
  margin: 0 auto;
}

.b-story.chronology li {
  position: relative;
  counter-increment: point;
  border-left: 5px solid #F46D82;
  margin: 0 0 0 80px;
  padding: 30px 30px 15px 70px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology li {
    margin: 0 0 0 12.5vw;
    padding: 5vw 5vw 2vw 10vw;
  }
}

.b-story.chronology li:nth-of-type(1) h4::before {
  content: "18\A" "AGE";
  font-size: 3.3rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  height: 90px;
  width: 90px;
  left: -50px;
  top: 50px;
  white-space: pre;
}

@media screen and (max-width: 680px) {
  .b-story.chronology li:nth-of-type(1) h4::before {
    top: 7vw;
    height: 13vw;
    width: 13vw;
    left: -7vw;
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology li:nth-of-type(1) h4::before {
    height: 14vw;
    width: 17vw;
    left: -9vw;
    font-size: 18px;
    padding-top: 10px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.b-story.chronology li:nth-of-type(4) h4::before {
  content: "19\A" "AGE";
  font-size: 3.3rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  height: 90px;
  width: 90px;
  left: -50px;
  top: 50px;
  white-space: pre;
}

@media screen and (max-width: 680px) {
  .b-story.chronology li:nth-of-type(4) h4::before {
    top: 7vw;
    height: 13vw;
    width: 13vw;
    left: -7vw;
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology li:nth-of-type(4) h4::before {
    height: 14vw;
    width: 17vw;
    left: -9vw;
    font-size: 18px;
    padding-top: 10px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.b-story.chronology li:nth-of-type(7) h4::before {
  content: "20\A" "AGE";
  font-size: 3.3rem;
  font-family: 'Oswald', sans-serif;
  line-height: 1.2;
  height: 90px;
  width: 90px;
  left: -50px;
  top: 50px;
  white-space: pre;
}

@media screen and (max-width: 680px) {
  .b-story.chronology li:nth-of-type(7) h4::before {
    top: 7vw;
    height: 13vw;
    width: 13vw;
    left: -7vw;
    font-size: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology li:nth-of-type(7) h4::before {
    height: 14vw;
    width: 17vw;
    left: -9vw;
    font-size: 18px;
    padding-top: 10px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  }
}

.b-story.chronology li:nth-of-type(8) {
  padding: 30px 30px 130px 70px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology li:nth-of-type(8) {
    padding: 5vw 5vw 30vw 10vw;
  }
}

.b-story.chronology dl {
  background: #fff;
  padding: 30px;
}

.b-story.chronology dl::after {
  content: "";
  display: inline-block;
  border: 30px solid transparent;
  border-right-color: transparent;
  border-right-color: #fff;
  position: absolute;
  top: 70px;
  left: 10px;
}

@media screen and (max-width: 580px) {
  .b-story.chronology dl::after {
    top: 10vw;
    left: 1vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology dl::after {
    left: -1vw;
  }
}

@media screen and (max-width: 400px) {
  .b-story.chronology dl::after {
    left: -2vw;
  }
}

.b-story.chronology dt h4 {
  background: #000;
  color: #fff;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 30px;
  line-height: 1;
}

.b-story.chronology dt h4::before {
  color: #fff;
  position: absolute;
  z-index: 1;
  width: 40px;
  content: '';
  font-weight: bold;
  background: #F46D82;
  border-radius: 50%;
  left: -23px;
  text-align: center;
  height: 40px;
  top: 80px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology dt h4::before {
    top: 11.5vw;
    left: -4vw;
    width: 7vw;
    height: 7vw;
  }
}

.b-story.chronology dt span {
  display: block;
  font-size: 2rem;
}

@media screen and (max-width: 680px) {
  .b-story.chronology dt span {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology dt span {
    font-size: 1.5rem;
    display: block;
    margin-top: 5px;
  }
}

.b-story.chronology dd figure {
  width: 70%;
  margin: 20px auto;
}

.b-story.chronology .dr-merit {
  background: #F8E0EB;
  margin: 50px auto;
  padding: 15px;
  position: relative;
}

@media screen and (max-width: 580px) {
  .b-story.chronology .dr-merit {
    margin: 50px auto 20px;
    padding: 5px 15px;
  }
}

.b-story.chronology .dr-merit::before {
  background: url(/rclinic/wp-content/themes/theme_rclinic/images/b-story/dr-merit.png) no-repeat;
  content: '';
  display: inline-block;
  width: 120px;
  height: 120px;
  background-size: contain;
  position: absolute;
  top: -60px;
  left: -70px;
  z-index: 1;
}

@media screen and (max-width: 680px) {
  .b-story.chronology .dr-merit::before {
    top: -11vw;
    left: -15vw;
    width: 22vw;
    height: 22vw;
  }
}

.b-story.chronology .dr-merit li {
  list-style: disc outside;
  border-left: none;
  margin: 10px 0 10px 50px;
  padding: 0;
}

@media screen and (max-width: 580px) {
  .b-story.chronology .dr-merit li {
    margin: 2vw 0 2vw 6vw;
  }
}

.b-story.chronology .kochira {
  display: flex;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  cursor: pointer;
  transition-property: color;
  padding: 0 10px;
  line-height: 1.2;
  height: 70px;
  border: none;
  color: #FFF;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
  outline: 0;
  font-size: 20px;
  text-align: center;
  background-image: linear-gradient(90deg, #fff, #fff);
  box-sizing: border-box;
  transition-duration: .3s;
  text-decoration: none;
  font-family: 'Bellefair', serif;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}

@media screen and (max-width: 580px) {
  .b-story.chronology .kochira {
    font-size: 4vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology .kochira {
    font-size: 4.5vw;
    height: 50px;
  }
}

.b-story.chronology .kochira::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #000;
  border: 1px solid #000;
  border-width: 2px;
  background-clip: padding-box;
  transition-property: width,opacity;
  box-sizing: border-box;
  transition-duration: .3s;
}

.b-story.chronology .kochira:hover {
  color: #000;
  border: 1px solid #000;
}

.b-story.chronology .kochira:hover::after {
  width: 50px;
  opacity: 0;
}

.b-story.chronology .arrow-w {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 5rem;
  height: 2px;
  right: 30px;
  background-color: currentColor;
  transition: .3s;
  transform: translateY(-50%) scaleX(1);
  transform-origin: left;
}

@media screen and (max-width: 580px) {
  .b-story.chronology .arrow-w {
    right: 3vw;
    width: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology .arrow-w {
    display: none;
  }
}

.b-story.chronology .arrow-w::before {
  position: absolute;
  top: -4px;
  left: 4.9rem;
  width: 0;
  height: 0;
  content: "";
  border-left: 6px solid transparent;
  border-color: transparent transparent transparent currentcolor;
  border-style: solid;
  border-width: 6px 6px 0;
  transition: .3s;
}

@media screen and (max-width: 580px) {
  .b-story.chronology .arrow-w::before {
    left: 5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology .arrow-w::before {
    display: none;
  }
}

.b-story.chronology .more-cute {
  padding: 30px 0;
  margin: 0 auto;
}

.b-story.chronology .more-cute h5 {
  color: #A3A3A3;
  border: 1px solid #A3A3A3;
  border-radius: 30px;
  text-align: center;
}

.b-story.chronology .more-cute ul {
  display: flex;
  margin-top: 15px;
}

.b-story.chronology .more-cute li {
  border-left: none;
  margin: 5px;
  padding: 0;
}

.b-story.chronology .more-cute li figure {
  position: relative;
}

.b-story.chronology .more-cute li figure::before {
  background: url(/rclinic/wp-content/themes/theme_rclinic/images/b-story/kakudai.svg) no-repeat;
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.b-story.chronology .ima {
  position: relative;
}

.b-story.chronology .ima h3 {
  background: none;
  color: #000;
  position: absolute;
  left: 280px;
  font-size: 4rem;
  top: -120px;
}

@media screen and (max-width: 680px) {
  .b-story.chronology .ima h3 {
    left: 37vw;
    font-size: 7.5vw;
    top: -20vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology .ima h3 {
    left: 35vw;
    font-size: 9vw;
    top: -25vw;
  }
}

.b-story.chronology .ima h3 + span {
  background: none;
  color: #000;
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  position: absolute;
  left: 200px;
  top: -100px;
  display: block;
}

@media screen and (max-width: 680px) {
  .b-story.chronology .ima h3 + span {
    left: 25vw;
    top: -17.5vw;
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 480px) {
  .b-story.chronology .ima h3 + span {
    left: 20vw;
    top: -18vw;
    font-size: 4.5vw;
  }
}

.b-story.chronology .ima h4 {
  position: absolute;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  right: 50px;
  top: 100px;
  font-size: 4rem;
  font-weight: lighter;
}

@media screen and (max-width: 680px) {
  .b-story.chronology .ima h4 {
    right: 7vw;
    top: 15vw;
    font-size: 7vw;
  }
}

/* ===================================================================
// .goannai
// ===================================================================*/
.b-story.goannai {
  background: #F8E0EB;
  padding: 50px 0;
}

.b-story.goannai .inner {
  background: #fff;
}

@media screen and (max-width: 680px) {
  .b-story.goannai .inner {
    width: 95%;
  }
}

.b-story.goannai h4 {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2.5rem;
  padding: 30px 0 0;
}

@media screen and (max-width: 480px) {
  .b-story.goannai h4 {
    font-size: 2rem;
    padding: 15px 0 0;
  }
}

.b-story.goannai figure {
  flex-basis: 30%;
}

.b-story.goannai figure img {
  border-radius: 50%;
}

.b-story.goannai .waku {
  display: flex;
  padding: 30px;
}

@media screen and (max-width: 480px) {
  .b-story.goannai .waku {
    padding: 5px 30px 15px;
  }
}

.b-story.goannai .waku01 {
  flex-basis: 70%;
  padding-left: 30px;
}

.b-story.goannai .waku01 span {
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  padding: 0 0 20px;
  display: block;
}

@media screen and (max-width: 480px) {
  .b-story.goannai .waku01 span {
    padding: 0 0 10px;
    font-size: 1.5rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    font-weight: 500;
  }
}

.b-story.goannai2 {
  background: #F8E0EB;
}

.dr-comme {
  padding-bottom: 50px;
}

.dr-comme h3 {
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  text-align: center;
  font-weight: lighter;
  font-size: 2.5rem;
  border: 1px solid #000;
  border-right: none;
  border-left: none;
  padding: 7px 0 5px;
  line-height: 1.7;
}

@media screen and (max-width: 680px) {
  .dr-comme h3 {
    font-size: 5.2vw;
  }
}

.dr-comme .waku02 {
  display: flex;
  padding: 30px 0;
  margin-bottom: 30px;
}

.dr-comme .waku02-l {
  flex-basis: 50%;
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  line-height: 1.7;
  font-size: 1.7rem;
  padding: 30px;
}

@media screen and (max-width: 580px) {
  .dr-comme .waku02-l {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .dr-comme .waku02-l {
    padding: 15px;
    font-size: 1.4rem;
  }
}

.dr-comme .waku02-r {
  flex-basis: 50%;
}

@media screen and (max-width: 480px) {
  .dr-comme .waku02-r figure {
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  .dr-comme .waku02-r figure img {
    object-fit: cover;
    height: 65vw;
  }
}

.dr-comme .waku02-r h4 {
  font-family: 'palatino', "游明朝", 'YuMincho', "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "ＭＳＰ明朝", "MS PMincho", "ＭＳ明朝", "MS Mincho", serif;
  font-weight: lighter;
  font-size: 3rem;
  text-align: center;
  line-height: 1.3;
}

@media screen and (max-width: 480px) {
  .dr-comme .waku02-r h4 {
    font-size: 2.3rem;
  }
}

.dr-comme .waku02-r h4 em {
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: baseline;
}

@media screen and (max-width: 480px) {
  .dr-comme .waku02-r h4 em {
    font-size: 1.2rem;
  }
}

.dr-comme .video {
  padding: 30px 0 50px;
}

@media screen and (max-width: 680px) {
  .dr-comme .video {
    margin: 0 15px;
    padding: 30px 0;
  }
}

.dr-comme .video iframe {
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 480px) {
  .dr-comme .video iframe {
    height: 300px;
  }
}

.dr-comme .bnr-moni {
  margin: 50px auto 100px;
  box-shadow: 2px 2px 4px #cacaca;
  border: 1px solid #000;
}

@media screen and (max-width: 680px) {
  .dr-comme .bnr-moni {
    width: 95%;
    margin: 30px auto 50px;
  }
}
