@charset "utf-8";
/* CSS Document */
article{
	 padding-top: 108px;
}
section{
	position: relative;
	letter-spacing: 0.08rem;
}
section section{
	padding: 70px 0;
}
section .inner{
	position: relative;
	z-index: 2;
	width: 1050px;
	margin: 0 auto;
}
section h1 span{
	font-size: 2.8rem;
	vertical-align: baseline;
}
section p{
	line-height: 1.8;
}
section img{
	width: 100%;
}
section.modal_flex p img,
section.banner_flex p img{
	width: auto;
}
/*----------------------------------------


ttl_area


----------------------------------------*/	
.ttl_area,
.other_ttl_area,
.ph_ttl_area{
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	height: 400px;
	display: flex;
	align-items: center;
	}
.ttl_area .inner,
.other_ttl_area .inner,
.ph_ttl_area .inner{
	text-align: left;
	}
.other_ttl_area .inner{
	position: static;
	}
.ttl_area:not(.tokusyu):not(.parent_ttl_area) .inner,
.ph_ttl_area .inner{
    position: relative;
	height: 100%;
}
.other_ttl_area{
	position: relative;
	text-align: center;
	height: 250px;
	display: flex;
	align-items: center;
	}
.ph_ttl_area::before,
.other_ttl_area::before,
.other_ttl_area::after,
.ph_ttl_area .inner::after,
.clinic_ttl_area .inner::after,
.ttl_area:not(.parent_ttl_area) .inner::after{
	position: absolute;
	content: "";
	}
/*.other_ttl_area::before{
	top:0;
	left: 0;
	background-image: url("../../images/other_fv_ttl_bg_l.png.html") , url("../../images/other_fv_ttl_bg_r.png.html") ;
	background-position: left top,right bottom;
	background-repeat: no-repeat , no-repeat;
	width: 100%;
	height: 250px;
}*/
.ph_ttl_area .inner::after,
.ttl_area .inner::after,
.clinic_ttl_area .inner::after{
	top:0;
	left: 50%;
	transform: translateX(-50%);
	margin-left: -500px;
	background: url("../../images/ico_logo_r_w.svg") no-repeat;
	width: 250px;
	height: 250px;
	opacity: 0.3;
	z-index: 1;
	}
.ph_ttl_area .inner::after{
	width: 400px;
	height: 400px;
	opacity: 0.1;
	background: url("../../images/ico_logo_r.svg") no-repeat;
	}
.other_ttl_area:not(.tokusyu)::before,
.other_ttl_area:not(.tokusyu)::after{
	position: absolute;
	content: "";
	}
.ph_ttl_area::before,
.other_ttl_area::before{
	top:-200px;
	left: -250px;
	background: url("../../images/bg_blur_yellow.png") no-repeat ;
	background-size: 100%;
	width: 40%;
	height: 450px;
	min-width: 700px;
}
.ph_ttl_area::before{
	height: 700px;}
.other_ttl_area::after{
	bottom:0;
	right: -200px;
	background:  url("../../images/bg_blur_purple.png") no-repeat right bottom;
	background-size:  100%;
	width: 40%;
	height: 250px;
	min-width: 700px;
}
.clinic_ttl_area .title{
	text-align: center !important;
	}
.ph_ttl_area .title,
.ttl_area .title,
.other_ttl_area .title{
	font-size: 4.0rem;
}

.other_ttl_area .title.en_serif{
	font-size: 5.0rem;
}
.ph_ttl_area p,
.ttl_area .title p,
.other_ttl_area p{
	font-size: 2.0rem;
}
.ttl_area:not(.parent_ttl_area) .title{
	padding-top: 50px;
}
.ph_ttl_area .title{
	padding-top: 120px;
}
.ph_ttl_area .title,
.ph_ttl_area p,
.ttl_area .title,
.ttl_area p{
	position: relative;
	z-index: 2;
}
@media only screen and (max-width:767px) {

}


/*----------------------------------------

2021.3,10
フェニックスデザインズ：東海林追加
info@phoenix-designs.jp

----------------------------------------*/	

/*----採用情報----*/	

.br-pc { display:block; }
.br-sp { display:none; }

.recruit_p01 {
	width: 580px;
	margin: 0 auto 50px auto;
}
.recruit_p02 {
	text-align: center;
	margin: 0 auto 50px auto;
}

.senkou_box {
	display: flex;
	justify-content:flex-start;
	flex-wrap: wrap;
	font-size: 2.2rem;
}
.senkou01 {
	width: 30%;
	border-radius: 40px;
	background: -moz-linear-gradient(65deg, #e33091, #fe73a6); 
background: -webkit-linear-gradient(65deg, #e33091, #fe73a6); 
background: linear-gradient(25deg, #e33091, #fe73a6); 
	text-align: center;
	color:#fff;
	font-weight: bold;
	padding: 15px;
	margin-right: 30px;
	margin-bottom: 30px;
}
.senkou02 {
	width: 55%;
	padding: 15px;
	border-bottom: 2px dotted #333;
	margin-bottom: 30px;
}
.pd_clr {
	padding-bottom: 10px !important;
}

.soufubox {
	display: flex;
	justify-content:space-between;
}
.soufuitem01 {
	background: #f0f0f0;
	padding: 40px;
	width: 40%;
}
.soufuitem02 {
	width: 49%;
	display: flex;
    justify-content: center;
	flex-direction:column;
}
ul.soufulist {
	flex-wrap: wrap;
	margin: 0 !important;
}
ul.soufulist li {
	border: 0px !important;
	width: 100% !important;
	text-align: left !important;
	padding: 0 0 5px 0 !important;
	margin: 0 !important;
	font-size: 1.8rem;
}

 
ul.soufulist > li:before {
    font-family: "Font Awesome 5 Free";
  font-weight: 900;/*←ココ*/
  content: "\f14a";
  position: relative;
  left : 0em; 
  color: #ff6099; 
  margin-right: 10px;
  font-weight: normal;
font-size: 2rem;
	
}
.soufuitem02 img {
	margin-bottom: 30px;
}

.soufutitle {
	font-size: 2rem;
	margin-bottom: 15px;
}
.soufutitle i {
	margin-top: 8px;
	margin-right: 10px;
}
.bosyu {
	margin-bottom: 60px !important;
}
.bosyu .sec_sub_title {
	font-size: 2.4rem !important;
}
#gaiyou {
	background: #f0f0f0;
	border: 1px solid #E3E3E3;
	border-top: none;
	width: 100%;
	font-size: 100%;
	line-height: 180%;
	text-shadow: 0px 1px 0px #FFFFFF;	
}
dl#gaiyou dl,dl#gaiyou dt,dl#gaiyou dd {
	margin: 0;
	padding: 0;
}
dl#gaiyou dt,dl#gaiyou dd {
	padding: 15px;
}
dl#gaiyou dt {
	border-top: 1px solid #E3E3E3;
	clear: left;
	float: left;
	width: 180px;
}
dl#gaiyou dd {
	background: #fff;
	border-left: 1px solid #E3E3E3;
	border-top: 1px solid #E3E3E3;
	margin-left: 200px;
}

/*----安心保証制度----*/	

.block {
	margin-bottom: 80px !important;
}

.hosyo {
	background: -moz-linear-gradient(top left, #fdeaf0, #efc8f1); 
background: -webkit-linear-gradient(top left, #fdeaf0, #efc8f1); 
background: linear-gradient(to bottom right, #fdeaf0, #efc8f1); 
	padding: 40px;
	margin-top: 60px;
}
.hosyo:first-child {
	background: #f0f0f0;
	padding: 40px;
	margin-top: 80px;
}

.hosyo_box {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.hosyo01 {
	width: 8%;
	margin-bottom: 50px;
}
.hosyo02 {
	width: 90%;
	text-align: left;
	font-size: 2rem;
	display: flex;
  
  align-items: center;
	margin-bottom: 50px;
}
.diamond-box{
	width: 60px;
	height: 60px;
	background: -moz-linear-gradient(top left, #faf103, #00a000); 
background: -webkit-linear-gradient(top left, #faf103, #00a000); 
background: linear-gradient(to bottom right, #faf103, #00a000); 
	overflow: hidden;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	font-size: 3rem;
	color: #fff;
	margin: -68px auto 20px auto;
}
.diamond-box .inner-box{
	width: 60px;
	height: 60px;
	padding: 3px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

ul.cyuui {
	flex-wrap: wrap;
	margin: 0 !important;
	margin-left: 20px !important;
}
ul.cyuui li {
	border: 0px !important;
	width: 100% !important;
	text-align: left !important;
	padding: 0 0 5px 0 !important;
	margin: 0 !important;
	font-size: 1.4rem;
	text-indent: -23px;
}
 
ul.cyuui > li:before {
    font-family: "Font Awesome 5 Free";
  font-weight: 900;/*←ココ*/
  content: "\f111";
  position: relative;
  left : 0em; 
  color: #626262; 
  margin-right: 10px;
  font-size: 1.2rem;
}
.mgM {
	margin-bottom: 20px;
}
.t-title {
  position: relative;
  font-family: "Noto Serif JP", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3",
    "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
  padding: 0px 24px;
}
.t-title::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  right: 0;
  margin: auto;
  width: 90px;
  height: 4px;
  background: linear-gradient(106deg, #fffb40 40%, #fd5b9f 73%);
	margin-top: 15px;
}

.hosyo_menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
.hosyo_menu02 {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.hosyo_item {
	background: #fff;
	padding: 25px;
	width: 26.5%;
	display: flex;
	position: relative;
}
.hosyo_item a {
	display: block;
}
.hosyo_item img {
	width: 130px;
    height: 108px !important;
	margin-right: 10px;
}

.hosyo_item div {
	width: 50%;
}

.hosyo_item h4 {
	font-size: 1.9rem;
	line-height: 1.4;
}
.hosyo_item h4 span {
	font-size: 1.4rem;
}


.more02 {
	position: absolute;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	transition: all .3s;
	width:130px !important;
	height: 23px;
	line-height: 23px;
	font-size:1.2rem;
	background: #e5e5e5;
	border-radius: 20px;
	margin-top: 10px;
	bottom:25px;
	right: 30px;
}
.more02:after {
    display: block;
    position: absolute;
    top: 45%;
    right: 15px;
    width: 6px;
    height: 6px;
    margin-top: -3px;
    border-top: solid 2px #313131;
    border-right: solid 2px #313131;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
}
.hosyo_item a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
	color: #313131 !important;
}
.hosyo_menu02 .hosyo_item {
	margin:0 17px;
}
.hosyonaiyo h3 {
	font-size: 2.8rem;
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid #313131;
}
.hosyonaiyo h3 span {
	font-size: 2rem;
	vertical-align: text-bottom !important;
	margin-left: 10px;
}

.hosyonaiyo h4 {
	font-size: 2.4rem;
	margin-bottom: 15px;
	margin-top: 30px;
}

table#table-01 {
    width: 100%;
    border: 1px #E3E3E3 solid;
    border-collapse: collapse;
    border-spacing: 0;
	font-size: 1.5rem;
	margin: 0 !important;
	padding: 0 !important;
	margin-bottom: 40px !important;
}

table#table-01 th {
    padding: 10px;
    border: #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    background: #f0f0f0;
    font-weight: bold;
    line-height: 120%;
    text-align: left;
}
table#table-01 td {
    padding: 10px;
    border: 1px #E3E3E3 solid;
    border-width: 0 0 1px 1px;
    text-align: left;
}
.thfirst {
	width: 250px;
}
.thsec {
	width: 80px;
}
.hosyoblock {
	margin-bottom: 50px;
}
.hosyoblock .gray_box {
	margin-bottom: 25px !important;
} 

.content_banner {
	padding-bottom: 60px !important;
}
.content_banner img {
	width: 100%;
}


#futae,
a#hana,
#kogao,
#houkyo,
#soshin,
#keisei,
#kuchi,
#waki {
   margin-top:-200px !important;
  padding-top:200px !important;
}


/*----公式ライン----*/

.line01_reccomend {
	padding: 60px;
	background: #f0f0f0;
}
.reccomend_box {
	display: flex;
	justify-content: space-between;
}
.reccomenditem {
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, .1);
	width: 26%;
	padding: 20px;
	text-align: center;
}
.reccomenditem img {
	width: 100px;
	height: auto;
	margin-bottom: 10px;
}
.reccomenditem p {
	line-height: 1.5;
	font-size: 1.8rem;
	font-weight: bold;
}


a.line_button{
  padding: 10px;
  margin: 10px 0;
  display: block;
  color: #fff !important;
  background: #00b900;
  text-decoration: none;
  font-weight: bold;
  font-size:2.8rem;;
  border-radius: 3px;
  text-align:center;
 width: 300px;
	border-radius: 12px;
	
}
a.line_button:before {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: -3px 5px 0 0;
 background-image: url("../../images/line/lineicon.png");
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
	left: 0;
}
.line_txt01 {
	text-align: center;
	font-weight: bold;
	font-size: 1.8rem;
	margin-bottom: 30px;
}
.line01_banner02 {
	margin-bottom: 60px;
}
.pointtitle {
	font-size: 2.4rem;
	text-align: center;
	margin-bottom: 20px !important;
}
.point_txt01 {
	margin-bottom: 20px !important;
}

.point_box {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
.point_item {
	width: 28%;
}
.point_item img {
	width: 100%;
	height: auto;
}
.point_txt02 {
	font-size: 2rem;
	margin-bottom: 16px;
}
.point_txt03 {
	font-size: 1.4rem;
	margin-bottom: 16px;
}
.point_txt04 {
	font-size: 1.6rem;
	margin-bottom: 16px;
	border: 2px solid #2bac38;
	padding: 20px;
	color:#2bac38;
	margin: 20px 0 60px 0;
}

.stepblock {
	margin-bottom: 50px;
}
.line_step {
	background: #f0f0f0;
	padding: 15px;
	display: flex;
	margin-bottom: 20px;
}
.line_step h5 {
	margin: 0;
	padding: 0;
	font-size: 2rem;
	 display: flex;
  justify-content: center;
  align-items: center;
	margin-left: 10px;
}
.point_txt05 {
	font-size: 1.6rem;
	margin-bottom: 30px;
}
.stepblock .step_no {
	background: #00b900 !important;
}


.usebox {
	 display: flex;
  justify-content: space-between;
}
.useitem {
	border: 1px solid #f0f0f0;
	padding: 20px;
	width: 45%;
}
.useitem img {
	width: 100%;
	height: auto;
	border: 1px solid #f0f0f0;
}


.balloon1 {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 92%;
  font-size: 2rem;
  background: #00b900;
  color: #fff;
  line-height: 1.6;
	padding: 4%;
	margin-bottom: 40px;
	font-weight: bold;
}

.balloon1:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #00b900;
}
.usetitle {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	margin: 28px 0;
}
.usetitle02 {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.bg-lightGray {
	background-color: #f9f9f9;
}
.kome {
	font-size: 1.2rem;
	margin-top: 10px;
}